*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
  background: #222;
  text-align: center;
  justify-content: space-around;
  position: absolute;
}
.centered{
  text-align: center;
  top: 70%;
  bottom: 30%;
  position: relative;
}
.button{
  height: 30px;
  width: 30vh;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 20px;
  text-shadow: #222;
}


